<!-- Header -->

<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">

<script language="JavaScript">
// ==============================================
// Copyright 2004 by CodeLifter.com
// Free for all; but please leave in this header.
// ==============================================

var Quotation=new Array() // do not change this!

// Set up the quotations to be shown, below.
// To add more quotations, continue with the
// pattern, adding to the array.  Remember
// to increment the Quotation[x] index!

Quotation[0] = "knowing nothing";
Quotation[1] = "acknowledged";
Quotation[2] = "code";
Quotation[3] = "will be art";

// ======================================
// Do not change anything below this line
// ======================================
var Q = Quotation.length;
var whichQuotation=Math.floor( Math.round(Math.random()*(Q-1)) / 2 ) * 2;
function showQuotation1(){document.write(Quotation[whichQuotation]);}
function showQuotation2(){document.write(Quotation[whichQuotation+1]);}
showQuotation1()
</script>
      </div>
      <h1>

<script language="JavaScript">
showQuotation2()
</script>
      </h1>
    </div>
    <a href="#today" class="page-scroll btn btn-xl">Some Thoughts</a>
  </div>
</div>
</header>
